# Игнорируем стандартные Python файлы и директории
__pycache__
*.pyc
*.pyo
*.pyd
*.pytest_cache
*.coverage
*.egg-info
.eggs

# Игнорируем виртуальное окружение
.venv

# Игнорируем файлы конфигурации среды разработки
.vscode
.idea

# Игнорируем файлы сборки
build/
dist/
*.egg-info/

# Игнорируем другие ненужные файлы
.DS_Store
*.log
