# Исключить файлы и папки среды разработки
.vscode/
.idea/
*.swp

# Исключить виртуальные окружения Python
venv/
.env/

# Исключить временные файлы операционной системы
.DS_Store
Thumbs.db

# Исключить скомпилированные файлы Python
*.pyc
__pycache__/

# Исключить лог-файлы и временные файлы
*.log
*.tmp

# Исключить файлы и папки, относящиеся к конкретным библиотекам или пакетам
node_modules/
dist/
build/

# Исключить конфигурационные файлы, содержащие личные данные или секреты
*.env
*.secret
